<p class="task__chapter">Due:</p>
<ul>
<li class="task__list" style="text-decoration-line: underline;">Riches to Rags Project Part One Presentation</li>
</ul>
<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Desired aging/distressing materials and tools</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Use aging and distressing techniques to further alter and style a basic maxi dress.
Continue to consider your character and their story during the distressing process.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Apply aging and distressing techniques to the now altered dress, continuing the
story of your character.</li>
<li style="text-decoration-line: underline">Complete and submit the “Riches” portion of the Riches to Rags Project via
Blackboard &gt; Submissions by the end of day.</li>
</ul>
