<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following pattern pieces (cut, notched, and marks transferred) to class:</li>
<ul>
<li>Reverse Applique Pattern</li>
<li>Backing Pattern (1 Piece)</li>
</ul>
</ul>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>1 sheet of craft felt</li>
<li>Juki Industrial Bobbin</li>
<li>Juki Industrial Bobbin Case</li>
<li>DBx1 sewing needles 90/14</li>
<!---FASH Everyday Sewing Supplies--->
<li>Hand Sewing Needles</li>
<li>All-purpose thread in desired color(s)</li>
<li>Medium weight muslin</li>
<li>Solid or printed cotton fabric</li>
<li>Weft Interfacing</li>
<li>Clear ruler with 1/8 inch markings</li>
<li>Frixion brand pen(s)</li>
<li>Ball head quilter's pins</li>
<li>Fabric Scissors</li>
<li>Paper Scissors</li>
<li>Transfer Paper</li>
<li>Serrated Transfer Wheel</li>
<li>Seam Ripper</li>
<li>Tape Measure</li>
<li>Thread snips/embroidery scissors (optional)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Students practice with the following samples:</li>
<ul>
<li>Reverse applique</li>
<li>Joined felt shapes</li>
</ul>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list" style="text-decoration-line: underline">
<li>Complete the quilting, trapunto, corded trapunto, reverse applique, and joined felt shapes samples and bring them to our next class meeting.</li>
<li>Bring your Riches to Rags dress to our next class meeting.</li>
</ul>