<p class="task__chapter">During Class:</p>
<ul>
<li>Exploring the difference between reversible and irreversible fabric treatments.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Test various aging and distressing techniques in preparation for future submission.</li>
<li style="text-decoration-line: underline">Complete the Garment Embellishment Vocabulary Quiz available via Blackboard &gt; Submissions by the end of day.</li>
<li style="text-decoration-line: underline">Complete the Riches to Rags moodboard, research, and sketches and bring it to our
next class meeting.</li>
</ul>