<p class="task__chapter">Due:</p>
<ul>
<li class="task__list" style="text-decoration-line: underline">Sample Book Productivity</li>
<li class="task__list">Bring the following samples to class for review:</li>
<ul>
<li>Machine-stitched gathers</li>
<li>Hand-stitched gathers</li>
<li>Corded gathers</li>
<li>Ribbon</li>
<li>Braiding</li>
<li>Hand-stitched bobbles</li>
</ul>
</ul>
<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following pattern pieces (cut, notched, and marks transferred) to class:</li>
<ul>
<li>Quilting Pattern</li>
<li>Trapunto Pattern</li>
<li>Corded Trapunto Pattern</li>
<li>Backing Pattern (3 pieces)</li>
</ul>
</ul>
	<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>Cotton balls or Polyester fiber fill</li>
<li>Worsted weight Acrylic Yarn or cording</li>
<li>Juki Industrial Bobbin</li>
<li>Juki Industrial Bobbin Case</li>
<li>DBx1 sewing needles 90/14</li>
<!---FASH Everyday Sewing Supplies--->
<li>Hand Sewing Needles</li>
<li>All-purpose thread in desired color(s)</li>
<li>Medium weight muslin</li>
<li>Clear ruler with 1/8 inch markings</li>
<li>Frixion brand pen(s)</li>
<li>Ball head quilter's pins</li>
<li>Fabric Scissors</li>
<li>Paper Scissors</li>
<li>Transfer Paper</li>
<li>Serrated Transfer Wheel</li>
<li>Seam Ripper</li>
<li>Tape Measure</li>
<li>Thread snips/embroidery scissors (optional)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Creating textures by quilting, trapunto, and corded trapunto</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul>
<li class="task__list">Complete quilting and trapunto samples.</li>
</ul>