<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>Drawing media of choice</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Produce multiple sketches of embellishments or alterations for a tailored jacket</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Finish initial sketches, research and mind map/mood board ideas for jacket
alterations. Bring your work to our next class meeting for review.</li>
<li>Acquire fabric swatches and desired embellishments for final alteration, mood
board, and process book.</li>
</ul>