<p class="task__chapter">Due:</p>
<ul>
<li  class="task__list" style="text-decoration-line: underline">Bring your desired maxi-length dress to class for review</li>
<li class="task__list" style="text-decoration-line: underline">Sample Book Productivity</li>
<li class="task__list">Bring the following samples to class for review:</li>
<ul>
<li>Quilting</li>
<li>Trapunto</li>
<li>Corded trapunto</li>
<li>Reverse applique</li>
<li>Joined felt shapes</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Students will begin research and sketching for the Riches to Rags project.</li>
<li>Begin creating the moodboard, sketches and research for the Riches to Rags
project.</li>
<li>Use at least 2 of the previously learned fabric manipulation techniques to alter and
style a basic maxi dress.</li>
<li>Be sure to consider who your character might be in the design and alteration
process.</li>
<li>Produce a front and back sketch of the altered dress.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Take copious photos of the original dress in preparation for future submission.</li>
<li>Acquire materials for Riches to Rags project.</li>
</ul>