<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Desired aging/distressing materials and tools</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Finalize aging and distressing techniques on maxi dress and document final
look</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li style="text-decoration-line: underline">Complete the “Rags” portion of the Riches to Rags Project and bring your
aged/distressed dress to our next class meeting.</li>
</ul>