<p class="task__chapter">Due:</p>
<ul>
<li class="task__list" style="text-decoration-line: underline;">Riches to Rags Final Project Presentation</li>
</ul>
<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>Drawing media of choice</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Produce multiple sketches of embellishments or alterations for a tailored jacket</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li style="text-decoration-line: underline">Complete the “Rags” portion of the Riches to Rags Project and bring your
aged/distressed dress to our next class meeting.</li>
<li>Develop a mood board for your jacket embellishment design including illustrations,
fabric swatches, and examples of trims and embellishments.</li>
<li style="text-decoration-line: underline">Prepare to show your work in progress during our next class meeting.</li>
<li>Acquire fabric swatches and desired embellishments for final alteration, mood
board, and process book.</li>
</ul>
