<p class="task__chapter">Due:</p>
<ul>
<li class="task__list" style="text-decoration-line: underline;">Riches to Rags Final Project Presentation</li>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Presentation of Riches to Rags Project</li>
<li>Beginning research for Jacket Alteration Project</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Take several photos of your tailored jacket in preparation for the upcoming
assignment.</li>
<li style="text-decoration-line: underline">Complete and submit the “Rags” portion of the Riches to Rags Project via
Blackboard &gt; Submissions by the end of Unit Six.</li>
</ul>