<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following pattern pieces to class:</li>
<ul>
<li>Knife Pleats Pattern</li>
<li>Box Pleats Pattern</li>
<li>Pin Tucks Pattern</li>
<li>Tuck and Fold Pattern</li>
</ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>Juki Industrial Bobbin</li>
<li>Juki Industrial Bobbin Case</li>
<li>DBx1 sewing needles 90/14</li>
<!---FASH Everyday Sewing Supplies--->
<li>Hand Sewing Needles</li>
<li>All-purpose thread in desired color(s)</li>
<li>Medium weight muslin</li>
<li>Clear ruler with 1/8 inch markings</li>
<li>Frixion brand pen(s)</li>
<li>Ball head quilter's pins</li>
<li>Fabric Scissors</li>
<li>Paper Scissors</li>
<li>Transfer Paper</li>
<li>Serrated Tracing Wheel</li>
<li>Seam Ripper</li>
<li>Tape Measure</li>
<li>Thread snips/embroidery scissors (optional)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Students practice various forms of pleating and pin tucks:</li>
<ul>
<li>Knife pleats</li>
<li>Box pleats</li>
<li>Pin tucks</li>
<li>Tuck and Fold</li>
</ul>	
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li style="text-decoration-line: underline">Complete pleating and pin tuck samples and bring them to our next class meeting.</li>
</ul>