<p class="task__chapter">Due:</p>
	<ul>
<li class="task__list" style="text-decoration-line: underline;">Come to class with your Jacket Process Book for review.</li>
<li class="task__list">Process book should contain the following for this check-in:</li>
<ul>
<li>Clear, well-lit photos of your original jacket(front and back, right-side out and inside-out)</li>
<li>Research and development for chosen alteration design</li>
<li>30 sketches of alteration ideas based on genre and character(15 front views, 15 back views)</li>
<li>Front and back illustrations of final design choice</li>
</ul>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Develop a mood board for your jacket embellishment design including illustrations,
fabric swatches, and examples of trims and embellishments.</li>
<li style="text-decoration-line: underline">Prepare to show your work in progress during our next class meeting.</li>
</ul>