<p class="task__chapter">Due:</p>
	<ul>
<li class="task__list" style="text-decoration-line: underline;">Come to class with your Jacket Process Book for review.</li>
<li class="task__list">Process book should contain the following ADDITIONS for this check-in:</li>
<ul>
<li>Mood board for final design choice</li>
<li>Process photos/video of the alteration and embellishment process</li>
<li>Further research and development for chosen alteration design</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Discusson of custom versus Ready-made garments</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul>
<li class="task__list" style="text-decoration-line: underline">Complete and submit the Altered Jacket Process Book via Blackboard &gt;
	Submissions by the end of day.</li>
<li class="task__list">Continue Jacket Alterations to 60% completion.</li>
</ul>