<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following pattern pieces (cut, notched, and marks transferred) to class:</li>
<ul>
<li>Braiding Embellishment Pattern</li>
<li>Bobbles Embellishment Pattern</li>
</ul>
</ul>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>Cotton balls or Polyester fiber fill</li>
<li>20 inches of decorative braiding</li>
<li>2 inch wide ribbon</li>
<li>Juki Industrial Bobbin</li>
<li>Juki Industrial Bobbin Case</li>
<li>DBx1 sewing needles 90/14</li>
<!---FASH Everyday Sewing Supplies--->
<li>Hand Sewing Needles</li>
<li>All-purpose thread in desired color(s)</li>
<li>Medium weight muslin</li>
<li>Clear ruler with 1/8 inch markings</li>
<li>Frixion brand pen(s)</li>
<li>Ball head quilter's pins</li>
<li>Fabric Scissors</li>
<li>Paper Scissors</li>
<li>Transfer Paper</li>
<li>Serrated Transfer Wheel</li>
<li>Seam Ripper</li>
<li>Tape Measure</li>
<li>Thread snips/embroidery scissors (optional)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Working with ribbon and braiding for surface embellishment.</li>
<li>Creating textures with stitched bobbles.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Reminder to acquire a dress for the Riches to Rags project.</li>
<li style="text-decoration-line: underline">Complete the gathering, ribbon, braiding, and hand-stitched bobbles samples and bring them to our next class meeting.</li>
</ul>