<p class="task__chapter">Due:</p>
<ul>
<li class="task__list" style="text-decoration-line: underline">Riches to Rags mood board and research Presentation</li>
</ul>
<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>Chosen maxi-length dress</li>
<li>Desired alteration materials and supplies</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Apply at least 2 of the previously learned embellishment techniques to alter your
maxi dress to suit your character’s costume design.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Begin work on dress alterations.</li>
</ul>